body{

    background-color: rgb(17, 20, 15);
    color: aliceblue;
    font-family: cursive;
}

.stl{

    padding: 200px;
    background-color: rgb(252, 230, 31);

}

.stl1{

    
    padding-left: 5px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
    background-color: rgb(224, 247, 22);

}
.unordered{

    color: black;
    font-family: cursive

}
.sort-btn{
    
    margin-top: 10px;
    margin-left: 350px;
    font-family: cursive;
    text-align: center;

}